
 body {
    margin-bottom: 0%;
    padding-top: 2%;
    padding-bottom: 1.4%;
    background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')
  }
  .container{
      background-color: rgb(250, 250, 250);
      width: fit-content;
      height: fit-content;
      margin-top: 10%;
      margin-bottom: 5.5%;
      border-radius: 3%;
  }
  a {
    display: block;
    padding: 10px;
    position: absolute;
    z-index: -1;
    top: 1rem;
    left: 100%;
    margin-left: -62px;
    transition: all .2s;
  }
  a:hover {
    margin-left: 0;
  }
  .button {
    background: transparent;
    border-color: #1976d2;
    border-radius: 15px;
    padding: 15px ;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.45em;
    margin: 10px 5px;
    width: 400px;
    outline:none; 
  }
  .button:hover { 
    background: #1976d2;
    color: rgb(250, 250, 250);
  }
  
  /* Active state animation applied here */
  .button:focus {
    background: #5F9BE0;
    color: rgb(250, 250, 250);
  }
  